/* The 6-column Niko Grid System.
 */

div.row {
  float: left;
  width: 100%;
  display: block;
  position: relative;
}
div.cell {
  position: relative;
  float: left;
}
/* IE8: keeps livesearch from falling behind content area,
   and display menu from falling behind footer
   Keeping float for IE7, so the portlets don't fall */
.ie6 div.cell {
    float: none;
}

/* Width classes.
   For a given cell width, the calculation is: width: (6.25*n - 2.25)% */
.width-1\3a 6 { width:  16.666%    }
.width-2\3a 6 { width:  33.333%    }
.width-3\3a 6 { width:  50%    }
.width-4\3a 6 { width:  66.666%    }
.width-5\3a 6 { width:  83.333%    }
.width-full   { width:  100%  }

.position-0\3a 6 { margin-left:  0%    }
.position-1\3a 6 { margin-left:  16.666%    }
.position-2\3a 6 { margin-left:  33.333%    }
.position-3\3a 6 { margin-left:  50%    }
.position-4\3a 6 { margin-left:  66.666%    }
.position-5\3a 6 { margin-left:  83.333%    }

#portal-column-content > div,
#portal-column-one > div,
#portal-column-two > div,
.padding-columns {
    padding-left: 24px;
    padding-right: 24px;
}
#portal-column-two > div {
    padding-right: 0;
}
.template-manage-portlets #portal-columns:last-child > div > div {
    padding-right: 24px;
}

/* End of the core Niko Grid System */
